flows/nodered-onyx-speech.json
[
    {
        "id": "b4dbf18e.d91f98",
        "type": "tab",
        "label": "Onyx STT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bdc439f.190b8c8",
        "type": "orion_rx",
        "z": "b4dbf18e.d91f98",
        "name": "",
        "orion_config": "69af4a35.32eb9c",
        "x": 320,
        "y": 120,
        "wires": [
            [
                "df78760b.4886a",
                "6171e2e0.a2766c"
            ]
        ]
    },
    {
        "id": "1df40cea.f8f2fb",
        "type": "orion_decode",
        "z": "b4dbf18e.d91f98",
        "name": "",
        "x": 680,
        "y": 220,
        "wires": [
            [
                "af41db48.b60bc",
                "98aaaebb.635828"
            ]
        ]
    },
    {
        "id": "af41db48.b60bc",
        "type": "debug",
        "z": "b4dbf18e.d91f98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "6171e2e0.a2766c",
        "type": "switch",
        "z": "b4dbf18e.d91f98",
        "name": "Transcribe PTT events",
        "property": "event_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ptt",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 220,
        "wires": [
            [
                "1df40cea.f8f2fb"
            ]
        ]
    },
    {
        "id": "9dd59225.27687",
        "type": "watson-speech-to-text",
        "z": "b4dbf18e.d91f98",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": true,
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "band": "NarrowbandModel",
        "bandhidden": "NarrowbandModel",
        "password": "",
        "apikey": "",
        "payload-response": false,
        "streaming-mode": false,
        "streaming-mute": false,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "default-endpoint": true,
        "service-endpoint": "https://stream.watsonplatform.net/speech-to-text/api",
        "x": 460,
        "y": 340,
        "wires": [
            [
                "c95692db.6a01d8"
            ]
        ]
    },
    {
        "id": "c95692db.6a01d8",
        "type": "debug",
        "z": "b4dbf18e.d91f98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "transcription",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "98aaaebb.635828",
        "type": "change",
        "z": "b4dbf18e.d91f98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "media_wav",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 340,
        "wires": [
            [
                "9dd59225.27687"
            ]
        ]
    },
    {
        "id": "df78760b.4886a",
        "type": "debug",
        "z": "b4dbf18e.d91f98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "69af4a35.32eb9c",
        "type": "orion_config",
        "z": "",
        "group": "acf572ab4be140e38728873637f3f38d",
        "name": ""
    }
]
