flows/nodered-onyx-nlu.json
[
    {
        "id": "1c4d9296.df201d",
        "type": "tab",
        "label": "Onyx NLU",
        "disabled": false,
        "info": ""
    },
    {
        "id": "72725797.caac6",
        "type": "orion_rx",
        "z": "1c4d9296.df201d",
        "name": "",
        "orion_config": "69af4a35.32eb9c",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "cfbb21c6.1aba",
                "c886b999.7bdbd8"
            ]
        ]
    },
    {
        "id": "9c1f424.984714",
        "type": "orion_decode",
        "z": "1c4d9296.df201d",
        "name": "",
        "x": 620,
        "y": 160,
        "wires": [
            [
                "de0af360.fad72",
                "b9b3d38e.d5e11"
            ]
        ]
    },
    {
        "id": "de0af360.fad72",
        "type": "debug",
        "z": "1c4d9296.df201d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 810,
        "y": 160,
        "wires": []
    },
    {
        "id": "c886b999.7bdbd8",
        "type": "switch",
        "z": "1c4d9296.df201d",
        "name": "Transcribe PTT events",
        "property": "event_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ptt",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "9c1f424.984714"
            ]
        ]
    },
    {
        "id": "bc1b298e.40fe1",
        "type": "watson-speech-to-text",
        "z": "1c4d9296.df201d",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "band": "NarrowbandModel",
        "bandhidden": "NarrowbandModel",
        "password": "",
        "apikey": "",
        "payload-response": false,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "default-endpoint": true,
        "service-endpoint": "https://stream.watsonplatform.net/speech-to-text/api",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "c0c1c473.424468",
                "a6b897c5.db5938"
            ]
        ]
    },
    {
        "id": "c0c1c473.424468",
        "type": "debug",
        "z": "1c4d9296.df201d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "transcription",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "b9b3d38e.d5e11",
        "type": "change",
        "z": "1c4d9296.df201d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "media_wav",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "bc1b298e.40fe1"
            ]
        ]
    },
    {
        "id": "cfbb21c6.1aba",
        "type": "debug",
        "z": "1c4d9296.df201d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 810,
        "y": 60,
        "wires": []
    },
    {
        "id": "775cb4d9.aeb24c",
        "type": "natural-language-understanding",
        "z": "1c4d9296.df201d",
        "name": "",
        "categories": true,
        "concepts": true,
        "maxconcepts": "8",
        "doc-emotion": true,
        "doc-emotion-target": "",
        "doc-sentiment": true,
        "doc-sentiment-target": "",
        "entity": true,
        "entity-emotion": true,
        "entity-sentiment": true,
        "maxentities": "50",
        "keyword": true,
        "keyword-emotion": true,
        "keyword-sentiment": true,
        "maxkeywords": "50",
        "metadata": false,
        "relation": true,
        "semantic": true,
        "semantic-entities": false,
        "semantic-keywords": false,
        "maxsemantics": "50",
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/natural-language-understanding/api",
        "x": 460,
        "y": 340,
        "wires": [
            [
                "c2a6f3a5.2e5e78"
            ]
        ]
    },
    {
        "id": "a6b897c5.db5938",
        "type": "change",
        "z": "1c4d9296.df201d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "transcription",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 340,
        "wires": [
            [
                "775cb4d9.aeb24c"
            ]
        ]
    },
    {
        "id": "c2a6f3a5.2e5e78",
        "type": "debug",
        "z": "1c4d9296.df201d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "features",
        "x": 720,
        "y": 340,
        "wires": []
    },
    {
        "id": "69af4a35.32eb9c",
        "type": "orion_config",
        "z": "",
        "group": "acf572ab4be140e38728873637f3f38d",
        "name": ""
    }
]
