flows/nodered-onyx-translate.json
[
    {
        "id": "5654b02e.9113",
        "type": "tab",
        "label": "Onyx Translate",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c967134.9e83d8",
        "type": "orion_decode",
        "z": "5654b02e.9113",
        "name": "",
        "x": 620,
        "y": 180,
        "wires": [
            [
                "b4813bd7.76746",
                "fcb7c9a9.d321a8"
            ]
        ]
    },
    {
        "id": "b4813bd7.76746",
        "type": "debug",
        "z": "5654b02e.9113",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "c40a2231.b18ed8",
        "type": "switch",
        "z": "5654b02e.9113",
        "name": "Transcribe PTT events",
        "property": "event_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ptt",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "4c967134.9e83d8"
            ]
        ]
    },
    {
        "id": "7bd021d1.df85d8",
        "type": "watson-speech-to-text",
        "z": "5654b02e.9113",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "band": "NarrowbandModel",
        "bandhidden": "NarrowbandModel",
        "password": "",
        "apikey": "",
        "payload-response": false,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "default-endpoint": true,
        "service-endpoint": "https://stream.watsonplatform.net/speech-to-text/api",
        "x": 420,
        "y": 320,
        "wires": [
            [
                "9f040440.08965",
                "16ffd4a5.3f4b33"
            ]
        ]
    },
    {
        "id": "9f040440.08965",
        "type": "debug",
        "z": "5654b02e.9113",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "transcription",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "fcb7c9a9.d321a8",
        "type": "change",
        "z": "5654b02e.9113",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "media_wav",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 320,
        "wires": [
            [
                "7bd021d1.df85d8"
            ]
        ]
    },
    {
        "id": "714f264.3d427d8",
        "type": "debug",
        "z": "5654b02e.9113",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "948b04af.8f7db8",
        "type": "watson-translator",
        "z": "5654b02e.9113",
        "name": "",
        "action": "translate",
        "basemodel": "en-tr",
        "domain": "general",
        "srclang": "en",
        "destlang": "es",
        "password": "",
        "apikey": "",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "es",
        "basemodelhidden": "",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "neural": false,
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/language-translator/api",
        "x": 230,
        "y": 460,
        "wires": [
            [
                "5e3d018e.46dee8",
                "234953f9.e35d0c"
            ]
        ]
    },
    {
        "id": "16ffd4a5.3f4b33",
        "type": "change",
        "z": "5654b02e.9113",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "transcription",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 340,
        "wires": [
            [
                "948b04af.8f7db8"
            ]
        ]
    },
    {
        "id": "5e3d018e.46dee8",
        "type": "debug",
        "z": "5654b02e.9113",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 460,
        "wires": []
    },
    {
        "id": "234953f9.e35d0c",
        "type": "watson-text-to-speech",
        "z": "5654b02e.9113",
        "name": "",
        "lang": "es-ES",
        "langhidden": "es-ES",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "es-ES_LauraVoice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "",
        "payload-response": false,
        "default-endpoint": true,
        "service-endpoint": "https://stream.watsonplatform.net/text-to-speech/api",
        "x": 500,
        "y": 420,
        "wires": [
            [
                "6bb803f1.a399cc"
            ]
        ]
    },
    {
        "id": "6bb803f1.a399cc",
        "type": "play audio",
        "z": "5654b02e.9113",
        "name": "",
        "voice": "",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "3e23b3da.5c2afc",
        "type": "orion_tx",
        "z": "5654b02e.9113",
        "name": "Group TX",
        "orion_config": "69af4a35.32eb9c",
        "x": 700,
        "y": 500,
        "wires": []
    },
    {
        "id": "1f7defab.a7e9c",
        "type": "change",
        "z": "5654b02e.9113",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 500,
        "wires": [
            [
                "3e23b3da.5c2afc"
            ]
        ]
    },
    {
        "id": "8ce8c406.b80018",
        "type": "orion_rx",
        "z": "5654b02e.9113",
        "name": "",
        "orion_config": "69af4a35.32eb9c",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "714f264.3d427d8",
                "c40a2231.b18ed8"
            ]
        ]
    },
    {
        "id": "69af4a35.32eb9c",
        "type": "orion_config",
        "z": "",
        "group": "acf572ab4be140e38728873637f3f38d",
        "name": ""
    }
]
