flows/nodered-onyx-cloudant.json
[
    {
        "id": "5347d64.bda9228",
        "type": "tab",
        "label": "Onyx Cloudant",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f6cc5dc9.5975b8",
        "type": "orion_rx",
        "z": "5347d64.bda9228",
        "name": "",
        "orion_config": "69af4a35.32eb9c",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "290193d0.36c6b4",
                "7f93312a.ef11b8"
            ]
        ]
    },
    {
        "id": "2a69cb1a.b173b4",
        "type": "orion_decode",
        "z": "5347d64.bda9228",
        "name": "",
        "x": 620,
        "y": 200,
        "wires": [
            [
                "1b9307ac.7804a",
                "fc809c0f.26d3b8"
            ]
        ]
    },
    {
        "id": "1b9307ac.7804a",
        "type": "debug",
        "z": "5347d64.bda9228",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "7f93312a.ef11b8",
        "type": "switch",
        "z": "5347d64.bda9228",
        "name": "Transcribe PTT events",
        "property": "event_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ptt",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 200,
        "wires": [
            [
                "2a69cb1a.b173b4"
            ]
        ]
    },
    {
        "id": "8aa4662a.84f9e",
        "type": "watson-speech-to-text",
        "z": "5347d64.bda9228",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "band": "NarrowbandModel",
        "bandhidden": "NarrowbandModel",
        "password": "",
        "apikey": "",
        "payload-response": false,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "default-endpoint": true,
        "service-endpoint": "https://stream.watsonplatform.net/speech-to-text/api",
        "x": 400,
        "y": 300,
        "wires": [
            [
                "5ecea316.6d10dc",
                "32f8edc0.1de7ca"
            ]
        ]
    },
    {
        "id": "5ecea316.6d10dc",
        "type": "debug",
        "z": "5347d64.bda9228",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "transcription",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "fc809c0f.26d3b8",
        "type": "change",
        "z": "5347d64.bda9228",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "media_wav",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "8aa4662a.84f9e"
            ]
        ]
    },
    {
        "id": "30f31b6b.c56924",
        "type": "cloudant out",
        "z": "5347d64.bda9228",
        "name": "",
        "cloudant": "",
        "database": "dispatcherhistory",
        "service": "",
        "payonly": true,
        "operation": "insert",
        "x": 630,
        "y": 400,
        "wires": []
    },
    {
        "id": "7e7a638d.0aeb84",
        "type": "function",
        "z": "5347d64.bda9228",
        "name": "",
        "func": "// Orion object includes a timestamp ts\nmsg.payload = { \"timestamp\"     : msg.ts ,\n                \"sender_name\"   : msg.sender_name,\n                \"transcription\" : msg.transcription,\n                \"location\"      : msg.userstatus_info.location };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "954b9a6a.646828",
                "30f31b6b.c56924"
            ]
        ]
    },
    {
        "id": "954b9a6a.646828",
        "type": "debug",
        "z": "5347d64.bda9228",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 440,
        "wires": []
    },
    {
        "id": "32f8edc0.1de7ca",
        "type": "orion_lookup",
        "z": "5347d64.bda9228",
        "name": "",
        "orion_config": "69af4a35.32eb9c",
        "x": 220,
        "y": 400,
        "wires": [
            [
                "7e7a638d.0aeb84"
            ]
        ]
    },
    {
        "id": "290193d0.36c6b4",
        "type": "debug",
        "z": "5347d64.bda9228",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 770,
        "y": 80,
        "wires": []
    },
    {
        "id": "69af4a35.32eb9c",
        "type": "orion_config",
        "z": "",
        "group": "acf572ab4be140e38728873637f3f38d",
        "name": ""
    }
]
