flows/nodered-onyx-tone.json
[
    {
        "id": "2ccefa6b.c28b26",
        "type": "tab",
        "label": "Onyx Tone",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f373fcb6.abb46",
        "type": "orion_rx",
        "z": "2ccefa6b.c28b26",
        "name": "",
        "orion_config": "69af4a35.32eb9c",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "c6d6643c.43116",
                "11b138c6.73f2df"
            ]
        ]
    },
    {
        "id": "379dc1da.a09ea6",
        "type": "orion_decode",
        "z": "2ccefa6b.c28b26",
        "name": "",
        "x": 620,
        "y": 180,
        "wires": [
            [
                "5df86f7d.8bdb9",
                "6d67b8de.703b28"
            ]
        ]
    },
    {
        "id": "5df86f7d.8bdb9",
        "type": "debug",
        "z": "2ccefa6b.c28b26",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "11b138c6.73f2df",
        "type": "switch",
        "z": "2ccefa6b.c28b26",
        "name": "Transcribe PTT events",
        "property": "event_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ptt",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 180,
        "wires": [
            [
                "379dc1da.a09ea6"
            ]
        ]
    },
    {
        "id": "736e882b.d05fc8",
        "type": "watson-speech-to-text",
        "z": "2ccefa6b.c28b26",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "band": "NarrowbandModel",
        "bandhidden": "NarrowbandModel",
        "password": "",
        "apikey": "",
        "payload-response": false,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "default-endpoint": true,
        "service-endpoint": "https://stream.watsonplatform.net/speech-to-text/api",
        "x": 400,
        "y": 280,
        "wires": [
            [
                "7e64094.cf40078",
                "51660a2.4ef9af4"
            ]
        ]
    },
    {
        "id": "7e64094.cf40078",
        "type": "debug",
        "z": "2ccefa6b.c28b26",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "transcription",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "6d67b8de.703b28",
        "type": "change",
        "z": "2ccefa6b.c28b26",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "media_wav",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "736e882b.d05fc8"
            ]
        ]
    },
    {
        "id": "c6d6643c.43116",
        "type": "debug",
        "z": "2ccefa6b.c28b26",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 810,
        "y": 80,
        "wires": []
    },
    {
        "id": "87ec0dbe.ea0928",
        "type": "watson-tone-analyzer-v3",
        "z": "2ccefa6b.c28b26",
        "name": "",
        "tones": "all",
        "sentences": "true",
        "contentType": "false",
        "tone-method": "generalTone",
        "interface-version": "2016-05-19",
        "inputlang": "en",
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/tone-analyzer/api",
        "x": 410,
        "y": 360,
        "wires": [
            [
                "fbbf4b43.3798",
                "c18ff1a4.47f45"
            ]
        ]
    },
    {
        "id": "51660a2.4ef9af4",
        "type": "change",
        "z": "2ccefa6b.c28b26",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "transcription",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "87ec0dbe.ea0928"
            ]
        ]
    },
    {
        "id": "7b02fff2.9c09f8",
        "type": "comment",
        "z": "2ccefa6b.c28b26",
        "name": "Extract highest emotion",
        "info": "",
        "x": 180,
        "y": 420,
        "wires": []
    },
    {
        "id": "fbbf4b43.3798",
        "type": "function",
        "z": "2ccefa6b.c28b26",
        "name": "High Score",
        "func": "var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \nvar myscore =  0;\nfor (var i=0; i<emotions.length; i++) {\n    if(emotions[i].score > myscore) {\n        msg.payload = emotions[i].score;\n        msg.topic = emotions[i].tone_name;\n        myscore = emotions[i].score;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "874448bd.c83958",
                "2b86f878.bc57f8"
            ]
        ]
    },
    {
        "id": "874448bd.c83958",
        "type": "debug",
        "z": "2ccefa6b.c28b26",
        "name": "Score",
        "active": true,
        "console": "false",
        "complete": "topic",
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "2b86f878.bc57f8",
        "type": "switch",
        "z": "2ccefa6b.c28b26",
        "name": "Select Emotion",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Joy",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Fear",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sadness",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Anger",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Disgust",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 5,
        "x": 260,
        "y": 500,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "c18ff1a4.47f45",
        "type": "debug",
        "z": "2ccefa6b.c28b26",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "response",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "69af4a35.32eb9c",
        "type": "orion_config",
        "z": "",
        "group": "acf572ab4be140e38728873637f3f38d",
        "name": ""
    }
]
